# Python script
sitemap_converter.py

# Sitemap cache
sitemap_cache.json

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environment
venv/
env/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/ 